@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #e4909c, #f0489c, rgb(219, 136, 185));
    background-size: 400% 400%;
    background-attachment: fixed;
    background-position: 0% 50%;
    animation: gradient 5s linear infinite; /* Ajusta la duración de la animación aquí */
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 10%;
    }
    100% {
        background-position: 0% 30%;
    }
}



*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.form-box{
    position: relative;
    width: 400px;
    height: 270px;
    background-color: white;
    border: 2px solid #ff4081;
    border-radius: 23px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    color: #ff4081;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 360px;
    border-bottom: 2px solid #ff4081;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ff4081;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: black;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #ff4081;
    font-size: 1.2em;
    top: 20px;
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #ff4081;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #ff4081;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.forget{
    margin: 15px 0 15px ;
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: space-between;  
}