{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css'%}">
    <!-- <link rel="stylesheet" href="/DANI_NAIL_ART/static/css/registro.css"> -->
    <title>Registrate</title>
</head>
<body>
    <section>
        <div class="form-box">
            <form action="">
                <h2>Registrarse</h2>
                <div class="inputbox">
                    <input type="text" required>
                    <ion-icon name="person-outline"></ion-icon>
                    <label for="">Nombre de Usuario</label>  
                </div>

                <div class="inputbox">
                    <input type="tel" id="telefonoInput" required>
                    <ion-icon name="call-outline"></ion-icon>
                    <label for="telefonoInput">Número de Teléfono</label>
                </div>

                <div class="inputbox">
                    <input type="email" required>
                    <ion-icon name="mail-outline"></ion-icon>
                    <label for="">Correo Electrónico</label>
                </div>

                <div class="inputbox">
                    <input type="password" id="passwordField" required>
                    <ion-icon name="eye-outline" id="togglePassword"></ion-icon>
                    <label for="">Contraseña</label>
                    
                </div>
                <button class="inicio">registrarme</button>


            </form>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        const telefonoInput = document.getElementById('telefonoInput');
        telefonoInput.addEventListener('input', function() {
            const valor = telefonoInput.value;
            
            if (valor.length > 10) {

                telefonoInput.value = valor.slice(0, 10);
            }
        });
        
        const passwordField = document.getElementById('passwordField');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', () => {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePassword.name = 'eye-off-outline'; // Change the icon to an eye with a line through it
            } else {
                passwordField.type = 'password';
                togglePassword.name = 'eye-outline'; // Change the icon back to a key
            }
        });
    </script>
    <style>

    </style>
</body>
</html>

{% endblock %}