<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/DANI_NAIL_ART/static/CSS/restaurar.css">
    <link rel="icon" href="/static/IMGS/logo.jpg">
    <title>Restaurar_contraseña</title>
</head>
<body>
    <section>  
        <div class="form-box">
            <form action="">
                <h2>Restaurar contraseña</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" required>
                    <label for="">Correo Electrónico</label>
                </div>
                <br>
                <button class="login">Restaurar</button>
            </form>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>